dpga/analysis/analysis
dpga/analysis/dqplots.gob
dpga/analysis/out*
dpga/analysis/output/
dpga/analysis/*.bin
dpga/bin2ascii/bin2ascii
dpga/bin2ascii/test*.txt
dpga/calibConstants
dpga/computePedestals/computePedestals
dpga/computePedestals/output/
dpga/data/
dpga/rw/out
dpga/rw/testdata/wdata-03-frames.bin
testbench/analysis/analysis
testbench/analysis/dqplots.gob
testbench/analysis/output/
testbench/calibConstants/
testbench/computePedestals/computePedestals
testbench/computePedestals/output/
testbench/data/
testbench/dqref/
testbench/tmp/
dpga/godaq/out
dpga/godaq/out.bin
out
*/*/*.bin
*/*/*/*.bin
*/*/*.gob
*/*/output
*/*/test
*/*/*~

